## Data Exploratory

In [32]:
# Import libraries
import pandas as pd
import numpy as np

In [33]:
# Read in the Stock Market Dataset.csv file as df
df = pd.read_csv(r"/Users/juliaseel/Desktop/Data Science/US Stock Market Analysis/Stock Market Dataset.csv")
df

,Unnamed: 0,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
0,0,02-02-2024,2.079,NaN,72.28,NaN,3.8215,NaN,"43,194.70",42650.0,...,"5,89,498",10580.0,564.64,4030000.0,171.81,117220000.0,474.99,84710000.0,"2,053.70",NaN
1,1,01-02-2024,2.050,161340.0,73.82,577940.0,3.8535,NaN,"43,081.40",47690.0,...,"5,81,600",9780.0,567.51,3150000.0,159.28,66360000.0,394.78,25140000.0,"2,071.10",260920.0
2,2,31-01-2024,2.100,142860.0,75.85,344490.0,3.9060,NaN,"42,580.50",56480.0,...,"5,78,020",9720.0,564.11,4830000.0,155.20,49690000.0,390.14,20010000.0,"2,067.40",238370.0
3,3,30-01-2024,2.077,139750.0,77.82,347240.0,3.9110,NaN,"42,946.20",55130.0,...,"5,84,680",9750.0,562.85,6120000.0,159.00,42290000.0,400.06,18610000.0,"2,050.90",214590.0
4,4,29-01-2024,2.490,3590.0,76.78,331930.0,3.8790,NaN,"43,299.80",45230.0,...,"5,78,800",13850.0,575.79,6880000.0,161.26,42840000.0,401.02,17790000.0,"2,034.90",1780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,1238,08-02-2019,2.583,147880.0,52.72,621000.0,2.8140,270.0,"3,661.70",699230.0,...,"3,00,771",240.0,347.57,7560000.0,79.41,113150000.0,167.33,12560000.0,"1,318.50",150610.0
1239,1239,07-02-2019,2.551,211790.0,52.64,749010.0,2.8320,320.0,"3,397.70",471360.0,...,"3,02,813",240.0,344.71,7860000.0,80.72,92530000.0,166.38,17520000.0,"1,314.20",166760.0
1240,1240,06-02-2019,2.662,98330.0,54.01,606720.0,2.8400,100.0,"3,404.30",514210.0,...,"3,08,810",120.0,352.19,6720000.0,82.01,78800000.0,170.49,13280000.0,"1,314.40",137250.0
1241,1241,05-02-2019,2.662,82250.0,53.66,609760.0,2.8205,90.0,"3,468.40",460950.0,...,"3,10,700",360.0,355.81,9050000.0,82.94,89060000.0,171.16,22560000.0,"1,319.20",129010.0
1242,1242,04-02-2019,2.660,116490.0,54.56,622470.0,2.7975,490.0,"3,462.80",503920.0,...,"3,12,000",310.0,351.34,9050000.0,81.67,98580000.0,169.25,20040000.0,"1,319.30",159560.0

In [34]:
# The dataframe has 1243 rows and 39 columns
df.shape

(1243, 39)

In [35]:
# Summary information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1243 non-null   int64
 1   Date               1243 non-null   object
 2   Natural_Gas_Price  1243 non-null   float64
 3   Natural_Gas_Vol.   1239 non-null   float64
 4   Crude_oil_Price    1243 non-null   float64
 5   Crude_oil_Vol.     1220 non-null   float64
 6   Copper_Price       1243 non-null   float64
 7   Copper_Vol.        1206 non-null   float64
 8   Bitcoin_Price      1243 non-null   object
 9   Bitcoin_Vol.       1243 non-null   float64
 10  Platinum_Price     1243 non-null   object
 11  Platinum_Vol.      636 non-null    float64
 12  Ethereum_Price     1243 non-null   object
 13  Ethereum_Vol.      1243 non-null   float64
 14  S&P_500_Price      1243 non-null   object
 15  Nasdaq_100_Price   1243 non-null   object
 16  Nasdaq_100_Vol.    1242 non-null   float64
 17  Apple_Price        1243 non-null   float64
 18  Apple_Vol.         1243 non-null   float64
 19  Tesla_Price        1243 non-null   float64
 20  Tesla_Vol.         1243 non-null   float64
 21  Microsoft_Price    1243 non-null   float64
 22  Microsoft_Vol.     1243 non-null   float64
 23  Silver_Price       1243 non-null   float64
 24  Silver_Vol.        1196 non-null   float64
 25  Google_Price       1243 non-null   float64
 26  Google_Vol.        1243 non-null   float64
 27  Nvidia_Price       1243 non-null   float64
 28  Nvidia_Vol.        1243 non-null   float64
 29  Berkshire_Price    1243 non-null   object
 30  Berkshire_Vol.     1243 non-null   float64
 31  Netflix_Price      1243 non-null   float64
 32  Netflix_Vol.       1243 non-null   float64
 33  Amazon_Price       1243 non-null   float64
 34  Amazon_Vol.        1243 non-null   float64
 35  Meta_Price         1243 non-null   float64
 36  Meta_Vol.          1243 non-null   float64
 37  Gold_Price         1243 non-null   object
 38  Gold_Vol.          1241 non-null   float64
dtypes: float64(30), int64(1), object(8)
memory usage: 378.9+ KB

In [36]:
# Zero duplicates
df.duplicated().sum()

0

## Preprocessing

In [37]:
# Drop column: Unnamed:0
df = df.drop(['Unnamed: 0'], axis = 1)

In [38]:
# Checking for null values
df.isna().sum()

Date                   0
Natural_Gas_Price      0
Natural_Gas_Vol.       4
Crude_oil_Price        0
Crude_oil_Vol.        23
Copper_Price           0
Copper_Vol.           37
Bitcoin_Price          0
Bitcoin_Vol.           0
Platinum_Price         0
Platinum_Vol.        607
Ethereum_Price         0
Ethereum_Vol.          0
S&P_500_Price          0
Nasdaq_100_Price       0
Nasdaq_100_Vol.        1
Apple_Price            0
Apple_Vol.             0
Tesla_Price            0
Tesla_Vol.             0
Microsoft_Price        0
Microsoft_Vol.         0
Silver_Price           0
Silver_Vol.           47
Google_Price           0
Google_Vol.            0
Nvidia_Price           0
Nvidia_Vol.            0
Berkshire_Price        0
Berkshire_Vol.         0
Netflix_Price          0
Netflix_Vol.           0
Amazon_Price           0
Amazon_Vol.            0
Meta_Price             0
Meta_Vol.              0
Gold_Price             0
Gold_Vol.              2
dtype: int64

In [39]:
# Clean up null values
df[['Natural_Gas_Vol.', 'Crude_oil_Vol.', 'Copper_Vol.', 'Platinum_Vol.', 'Nasdaq_100_Vol.', 'Silver_Vol.', 'Gold_Vol.']] = df[['Natural_Gas_Vol.', 'Crude_oil_Vol.', 'Copper_Vol.', 'Platinum_Vol.', 'Nasdaq_100_Vol.', 'Silver_Vol.', 'Gold_Vol.']].replace(np.nan, 0)

In [40]:
df.isna().sum()

Date                 0
Natural_Gas_Price    0
Natural_Gas_Vol.     0
Crude_oil_Price      0
Crude_oil_Vol.       0
Copper_Price         0
Copper_Vol.          0
Bitcoin_Price        0
Bitcoin_Vol.         0
Platinum_Price       0
Platinum_Vol.        0
Ethereum_Price       0
Ethereum_Vol.        0
S&P_500_Price        0
Nasdaq_100_Price     0
Nasdaq_100_Vol.      0
Apple_Price          0
Apple_Vol.           0
Tesla_Price          0
Tesla_Vol.           0
Microsoft_Price      0
Microsoft_Vol.       0
Silver_Price         0
Silver_Vol.          0
Google_Price         0
Google_Vol.          0
Nvidia_Price         0
Nvidia_Vol.          0
Berkshire_Price      0
Berkshire_Vol.       0
Netflix_Price        0
Netflix_Vol.         0
Amazon_Price         0
Amazon_Vol.          0
Meta_Price           0
Meta_Vol.            0
Gold_Price           0
Gold_Vol.            0
dtype: int64

In [41]:
# Fix dtypes: price columns to float and date to datetime
df.dtypes

Date                  object
Natural_Gas_Price    float64
Natural_Gas_Vol.     float64
Crude_oil_Price      float64
Crude_oil_Vol.       float64
Copper_Price         float64
Copper_Vol.          float64
Bitcoin_Price         object
Bitcoin_Vol.         float64
Platinum_Price        object
Platinum_Vol.        float64
Ethereum_Price        object
Ethereum_Vol.        float64
S&P_500_Price         object
Nasdaq_100_Price      object
Nasdaq_100_Vol.      float64
Apple_Price          float64
Apple_Vol.           float64
Tesla_Price          float64
Tesla_Vol.           float64
Microsoft_Price      float64
Microsoft_Vol.       float64
Silver_Price         float64
Silver_Vol.          float64
Google_Price         float64
Google_Vol.          float64
Nvidia_Price         float64
Nvidia_Vol.          float64
Berkshire_Price       object
Berkshire_Vol.       float64
Netflix_Price        float64
Netflix_Vol.         float64
Amazon_Price         float64
Amazon_Vol.          float64
Meta_Price           float64
Meta_Vol.            float64
Gold_Price            object
Gold_Vol.            float64
dtype: object

In [42]:
# To fix the price dtypes I need to replace the comma with a blank
df['Gold_Price'] = df['Gold_Price'].str.replace(',', '')
df['Bitcoin_Price'] = df['Bitcoin_Price'].str.replace(',', '')
df['Platinum_Price'] = df['Platinum_Price'].str.replace(',', '')
df['Ethereum_Price'] = df['Ethereum_Price'].str.replace(',', '')
df['S&P_500_Price'] = df['S&P_500_Price'].str.replace(',', '')
df['Nasdaq_100_Price'] = df['Nasdaq_100_Price'].str.replace(',', '')
df['Berkshire_Price'] = df['Berkshire_Price'].str.replace(',', '')

In [43]:
# Now it will change from object to float 
df['Gold_Price'] = df['Gold_Price'].astype('float')
df['Bitcoin_Price'] = df['Bitcoin_Price'].astype('float')
df['Platinum_Price'] = df['Platinum_Price'].astype('float')
df['Ethereum_Price'] = df['Ethereum_Price'].astype('float')
df['S&P_500_Price'] = df['S&P_500_Price'].astype('float')
df['Nasdaq_100_Price'] = df['Nasdaq_100_Price'].astype('float')
df['Berkshire_Price'] = df['Berkshire_Price'].astype('float')

In [44]:
df.dtypes

Date                  object
Natural_Gas_Price    float64
Natural_Gas_Vol.     float64
Crude_oil_Price      float64
Crude_oil_Vol.       float64
Copper_Price         float64
Copper_Vol.          float64
Bitcoin_Price        float64
Bitcoin_Vol.         float64
Platinum_Price       float64
Platinum_Vol.        float64
Ethereum_Price       float64
Ethereum_Vol.        float64
S&P_500_Price        float64
Nasdaq_100_Price     float64
Nasdaq_100_Vol.      float64
Apple_Price          float64
Apple_Vol.           float64
Tesla_Price          float64
Tesla_Vol.           float64
Microsoft_Price      float64
Microsoft_Vol.       float64
Silver_Price         float64
Silver_Vol.          float64
Google_Price         float64
Google_Vol.          float64
Nvidia_Price         float64
Nvidia_Vol.          float64
Berkshire_Price      float64
Berkshire_Vol.       float64
Netflix_Price        float64
Netflix_Vol.         float64
Amazon_Price         float64
Amazon_Vol.          float64
Meta_Price           float64
Meta_Vol.            float64
Gold_Price           float64
Gold_Vol.            float64
dtype: object

In [45]:
# Change date to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [46]:
# Renaming column names
df = df.rename(columns = {'Date':'date',
                            'Natural_Gas_Price':'gas_price',
                            'Natural_Gas_Vol.':'gas_vol',
                            'Crude_oil_Price':'oil_price',
                            'Crude_oil_Vol.':'oil_vol',
                            'Copper_Price':'copper_price',
                            'Copper_Vol.':'copper_vol',
                            'Bitcoin_Price':'bitcoin_price',
                            'Bitcoin_Vol.':'bitcoin_vol',
                            'Platinum_Price':'platinum_price',
                            'Platinum_Vol.':'platinum_vol',
                            'Ethereum_Price':'ethereum_price',
                            'Ethereum_Vol.':'ethereum_vol',
                            'S&P_500_Price':'sp_500_price',
                            'Nasdaq_100_Price':'nasdaq_price',
                            'Nasdaq_100_Vol.':'nasdaq_vol',
                            'Apple_Price':'apple_price',
                            'Apple_Vol.':'apple_vol',
                            'Tesla_Price':'tesla_price',
                            'Tesla_Vol.':'tesla_vol',
                            'Microsoft_Price':'microsoft_price',
                            'Microsoft_Vol.':'microsoft_vol',
                            'Silver_Price':'silver_price',
                            'Silver_Vol.':'silver_vol',
                            'Google_Price':'google_price',
                            'Google_Vol.':'google_vol',
                            'Nvidia_Price':'nvidia_price',
                            'Nvidia_Vol.':'nvidia_vol',
                            'Berkshire_Price':'berkshire_price',
                            'Berkshire_Vol.':'berkshire_vol',
                            'Netflix_Price':'netflix_price',
                            'Netflix_Vol.':'netflix_vol',
                            'Amazon_Price':'amazon_price',
                            'Amazon_Vol.':'amazon_vol',
                            'Meta_Price':'meta_price',
                            'Meta_Vol.':'meta_vol',
                            'Gold_Price':'gold_price',
                            'Gold_Vol.':'gold_vol'
                           })

In [47]:
df

,date,gas_price,gas_vol,oil_price,oil_vol,copper_price,copper_vol,bitcoin_price,bitcoin_vol,platinum_price,...,berkshire_price,berkshire_vol,netflix_price,netflix_vol,amazon_price,amazon_vol,meta_price,meta_vol,gold_price,gold_vol
0,2024-02-02,2.079,0.0,72.28,0.0,3.8215,0.0,43194.7,42650.0,901.60,...,589498.0,10580.0,564.64,4030000.0,171.81,117220000.0,474.99,84710000.0,2053.7,0.0
1,2024-02-01,2.050,161340.0,73.82,577940.0,3.8535,0.0,43081.4,47690.0,922.30,...,581600.0,9780.0,567.51,3150000.0,159.28,66360000.0,394.78,25140000.0,2071.1,260920.0
2,2024-01-31,2.100,142860.0,75.85,344490.0,3.9060,0.0,42580.5,56480.0,932.60,...,578020.0,9720.0,564.11,4830000.0,155.20,49690000.0,390.14,20010000.0,2067.4,238370.0
3,2024-01-30,2.077,139750.0,77.82,347240.0,3.9110,0.0,42946.2,55130.0,931.70,...,584680.0,9750.0,562.85,6120000.0,159.00,42290000.0,400.06,18610000.0,2050.9,214590.0
4,2024-01-29,2.490,3590.0,76.78,331930.0,3.8790,0.0,43299.8,45230.0,938.30,...,578800.0,13850.0,575.79,6880000.0,161.26,42840000.0,401.02,17790000.0,2034.9,1780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,2019-02-08,2.583,147880.0,52.72,621000.0,2.8140,270.0,3661.7,699230.0,802.20,...,300771.0,240.0,347.57,7560000.0,79.41,113150000.0,167.33,12560000.0,1318.5,150610.0
1239,2019-02-07,2.551,211790.0,52.64,749010.0,2.8320,320.0,3397.7,471360.0,800.80,...,302813.0,240.0,344.71,7860000.0,80.72,92530000.0,166.38,17520000.0,1314.2,166760.0
1240,2019-02-06,2.662,98330.0,54.01,606720.0,2.8400,100.0,3404.3,514210.0,807.10,...,308810.0,120.0,352.19,6720000.0,82.01,78800000.0,170.49,13280000.0,1314.4,137250.0
1241,2019-02-05,2.662,82250.0,53.66,609760.0,2.8205,90.0,3468.4,460950.0,821.35,...,310700.0,360.0,355.81,9050000.0,82.94,89060000.0,171.16,22560000.0,1319.2,129010.0
1242,2019-02-04,2.660,116490.0,54.56,622470.0,2.7975,490.0,3462.8,503920.0,822.50,...,312000.0,310.0,351.34,9050000.0,81.67,98580000.0,169.25,20040000.0,1319.3,159560.0

In [48]:
# Rearrange columns
df = df[['date', 'nasdaq_price', 'nasdaq_vol', 'sp_500_price', 'gas_price', 'gas_vol', 'oil_price', 'oil_vol', 'gold_price', 'gold_vol', 'silver_price', 'silver_vol', 'platinum_price', 'platinum_vol', 'copper_price', 'copper_vol', 'bitcoin_price', 'bitcoin_vol', 'ethereum_price', 'ethereum_vol', 'apple_price', 'apple_vol', 'tesla_price', 'tesla_vol', 'microsoft_price', 'microsoft_vol', 'google_price', 'google_vol', 'nvidia_price', 'nvidia_vol', 'berkshire_price', 'berkshire_vol', 'netflix_price', 'netflix_vol', 'amazon_price', 'amazon_vol', 'meta_price', 'meta_vol']]

## Calculations for Tech Stock Performance Top 5

In [49]:
# Previous day prices and volumes
df['pre_day_apple_price'] = df.apple_price.shift(1)
df['pre_day_apple_vol'] = df.apple_vol.shift(1)
df['pre_day_microsoft_price'] = df.microsoft_price.shift(1)
df['pre_day_microsoft_vol'] = df.microsoft_vol.shift(1)
df['pre_day_google_price'] = df.google_price.shift(1)
df['pre_day_google_vol'] = df.google_vol.shift(1)
df['pre_day_nvidia_price'] = df.nvidia_price.shift(1)
df['pre_day_nvidia_vol'] = df.nvidia_vol.shift(1)
df['pre_day_meta_price'] = df.meta_price.shift(1)
df['pre_day_meta_vol'] = df.meta_vol.shift(1)

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_apple_price'] = df.apple_price.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_apple_vol'] = df.apple_vol.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_microsoft_price'] = df.microsoft_price.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_microsoft_vol'] = df.microsoft_vol.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_google_price'] = df.google_price.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_google_vol'] = df.google_vol.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_nvidia_price'] = df.nvidia_price.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_nvidia_vol'] = df.nvidia_vol.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_meta_price'] = df.meta_price.shift(1)
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1127170100.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre_day_meta_vol'] = df.meta_vol.shift(1)

In [50]:
# Difference between previous and current day prices and volumes
df['price_diff_apple'] = df['apple_price'] - df['pre_day_apple_price']
df['vol_diff_apple'] = df['apple_vol'] - df['pre_day_apple_vol']
df['price_diff_microsoft'] = df['microsoft_price'] - df['pre_day_microsoft_price']
df['vol_diff_microsoft'] = df['microsoft_vol'] - df['pre_day_microsoft_vol']
df['price_diff_google'] = df['google_price'] - df['pre_day_google_price']
df['vol_diff_google'] = df['google_vol'] - df['pre_day_google_vol']
df['price_diff_nvidia'] = df['nvidia_price'] - df['pre_day_nvidia_price']
df['vol_diff_nvidia'] = df['nvidia_vol'] - df['pre_day_nvidia_vol']
df['price_diff_meta'] = df['meta_price'] - df['pre_day_meta_price']
df['vol_diff_meta'] = df['meta_vol'] - df['pre_day_meta_vol']

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_diff_apple'] = df['apple_price'] - df['pre_day_apple_price']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vol_diff_apple'] = df['apple_vol'] - df['pre_day_apple_vol']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_diff_microsoft'] = df['microsoft_price'] - df['pre_day_microsoft_price']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vol_diff_microsoft'] = df['microsoft_vol'] - df['pre_day_microsoft_vol']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_diff_google'] = df['google_price'] - df['pre_day_google_price']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vol_diff_google'] = df['google_vol'] - df['pre_day_google_vol']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_diff_nvidia'] = df['nvidia_price'] - df['pre_day_nvidia_price']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vol_diff_nvidia'] = df['nvidia_vol'] - df['pre_day_nvidia_vol']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_diff_meta'] = df['meta_price'] - df['pre_day_meta_price']
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/4036368193.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vol_diff_meta'] = df['meta_vol'] - df['pre_day_meta_vol']

In [51]:
# Differences in percent
df['percent_price_diff_apple'] = df['apple_price'].pct_change()
df['percent_vol_diff_apple'] = df['apple_vol'].pct_change()
df['percent_price_diff_microsoft'] = df['microsoft_price'].pct_change()
df['percent_vol_diff_microsoft'] = df['microsoft_vol'].pct_change()
df['percent_price_diff_google'] = df['google_price'].pct_change()
df['percent_vol_diff_google'] = df['google_vol'].pct_change()
df['percent_price_diff_nvidia'] = df['nvidia_price'].pct_change()
df['percent_vol_diff_nvidia'] = df['nvidia_vol'].pct_change()
df['percent_price_diff_meta'] = df['meta_price'].pct_change()
df['percent_vol_diff_meta'] = df['meta_vol'].pct_change()

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_price_diff_apple'] = df['apple_price'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_vol_diff_apple'] = df['apple_vol'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_price_diff_microsoft'] = df['microsoft_price'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_vol_diff_microsoft'] = df['microsoft_vol'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_price_diff_google'] = df['google_price'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_vol_diff_google'] = df['google_vol'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_price_diff_nvidia'] = df['nvidia_price'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_vol_diff_nvidia'] = df['nvidia_vol'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_price_diff_meta'] = df['meta_price'].pct_change()
/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/710170472.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_vol_diff_meta'] = df['meta_vol'].pct_change()

In [52]:
df

,date,nasdaq_price,nasdaq_vol,sp_500_price,gas_price,gas_vol,oil_price,oil_vol,gold_price,gold_vol,...,percent_price_diff_apple,percent_vol_diff_apple,percent_price_diff_microsoft,percent_vol_diff_microsoft,percent_price_diff_google,percent_vol_diff_google,percent_price_diff_nvidia,percent_vol_diff_nvidia,percent_price_diff_meta,percent_vol_diff_meta
0,2024-02-02,17642.73,315620000.0,4958.61,2.079,0.0,72.28,0.0,2053.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-02-01,17344.71,240640000.0,4906.19,2.050,161340.0,73.82,577940.0,2071.1,260920.0,...,0.005434,-0.478401,-0.018093,0.034324,-0.008569,-0.406080,-0.047355,-0.244230,-0.168867,-0.703223
2,2024-01-31,17137.24,366450000.0,4848.87,2.100,142860.0,75.85,344490.0,2067.4,238370.0,...,-0.013165,0.025051,-0.015355,0.600411,-0.007509,0.922683,-0.023799,0.251249,-0.011753,-0.204057
3,2024-01-30,17476.71,236210000.0,4924.97,2.077,139750.0,77.82,347240.0,2050.9,214590.0,...,0.019740,0.008025,0.027693,-0.372809,0.081085,-0.536780,0.020268,-0.121367,0.025427,-0.069965
4,2024-01-29,17596.27,238750000.0,4927.93,2.490,3590.0,76.78,331930.0,2034.9,1780.0,...,0.019623,-0.151619,0.002766,-0.206203,0.013535,-0.165457,-0.004922,-0.143939,0.002400,-0.044062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,2019-02-08,6913.13,168040000.0,2707.88,2.583,147880.0,52.72,621000.0,1318.5,150610.0,...,0.005666,0.134691,0.003990,0.134849,0.000181,0.176757,0.011745,-0.067851,0.009289,-0.019516
1239,2019-02-07,6904.98,204460000.0,2706.05,2.551,211790.0,52.64,749010.0,1314.2,166760.0,...,0.003052,0.332599,-0.003785,0.386766,0.003266,0.759302,-0.005130,0.380199,-0.005677,0.394904
1240,2019-02-06,6997.62,193600000.0,2731.61,2.662,98330.0,54.01,606720.0,1314.4,137250.0,...,0.019424,-0.110341,0.007220,-0.307460,0.015190,0.260052,0.037992,0.102653,0.024702,-0.242009
1241,2019-02-05,7023.52,206730000.0,2737.70,2.662,82250.0,53.66,609760.0,1319.2,129010.0,...,-0.000230,0.278417,0.011223,0.326055,0.025828,0.705346,-0.019869,-0.227900,0.003930,0.698795
1242,2019-02-04,6959.96,177350000.0,2724.87,2.660,116490.0,54.56,622470.0,1319.3,159560.0,...,-0.016992,-0.127623,-0.013803,0.145993,-0.009029,-0.047266,-0.005068,-0.025442,-0.011159,-0.111702

In [53]:
# Checking for null values
df.isna().sum()

date                         0
nasdaq_price                 0
nasdaq_vol                   0
sp_500_price                 0
gas_price                    0
                            ..
percent_vol_diff_google      1
percent_price_diff_nvidia    1
percent_vol_diff_nvidia      1
percent_price_diff_meta      1
percent_vol_diff_meta        1
Length: 68, dtype: int64

In [54]:
# Clean up null values
df[['pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']] = df[['pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']].replace(np.nan,0)

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1125101341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']] = df[['pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']].replace(np.nan,0)

In [55]:
df.isna().sum()

date                         0
nasdaq_price                 0
nasdaq_vol                   0
sp_500_price                 0
gas_price                    0
                            ..
percent_vol_diff_google      0
percent_price_diff_nvidia    0
percent_vol_diff_nvidia      0
percent_price_diff_meta      0
percent_vol_diff_meta        0
Length: 68, dtype: int64

In [56]:
# Rearrange columns
df = df[['date', 'nasdaq_price', 'nasdaq_vol', 'sp_500_price', 'gas_price', 'gas_vol', 'oil_price', 'oil_vol', 'gold_price', 'gold_vol', 'silver_price', 'silver_vol', 'platinum_price', 'platinum_vol', 'copper_price', 'copper_vol', 'bitcoin_price', 'bitcoin_vol', 'ethereum_price', 'ethereum_vol', 'apple_price', 'pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'apple_vol', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'tesla_price', 'tesla_vol', 'microsoft_price', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'microsoft_vol', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'google_price', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'google_vol', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'nvidia_price', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'nvidia_vol', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'berkshire_price', 'berkshire_vol', 'netflix_price', 'netflix_vol', 'amazon_price', 'amazon_vol', 'meta_price', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'meta_vol', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']]

In [57]:
# Create updated csv file
df.to_csv(r"/Users/juliaseel/Desktop/Data Science/US Stock Market Analysis/Stock Market Dataset_merched.csv")

In [58]:
# Create new df for tech stock performance top 5
df.share = df[['date', 'apple_price', 'pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'apple_vol', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'microsoft_price', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'microsoft_vol', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'google_price', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'google_vol', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'nvidia_price', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'nvidia_vol', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'meta_price', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'meta_vol', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']]

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/1614901955.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.share = df[['date', 'apple_price', 'pre_day_apple_price', 'price_diff_apple', 'percent_price_diff_apple', 'apple_vol', 'pre_day_apple_vol', 'vol_diff_apple', 'percent_vol_diff_apple', 'microsoft_price', 'pre_day_microsoft_price', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'microsoft_vol', 'pre_day_microsoft_vol', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'google_price', 'pre_day_google_price', 'price_diff_google', 'percent_price_diff_google', 'google_vol', 'pre_day_google_vol', 'vol_diff_google', 'percent_vol_diff_google', 'nvidia_price', 'pre_day_nvidia_price', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'nvidia_vol', 'pre_day_nvidia_vol', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'meta_price', 'pre_day_meta_price', 'price_diff_meta', 'percent_price_diff_meta', 'meta_vol', 'pre_day_meta_vol', 'vol_diff_meta', 'percent_vol_diff_meta']]

In [59]:
df.share

,date,apple_price,pre_day_apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,pre_day_apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,...,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,pre_day_meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,pre_day_meta_vol,vol_diff_meta,percent_vol_diff_meta
0,2024-02-02,185.85,0.00,0.00,0.000000,102550000.0,0.0,0.0,0.000000,411.22,...,0.0,0.000000,474.99,0.00,0.00,0.000000,84710000.0,0.0,0.0,0.000000
1,2024-02-01,186.86,185.85,1.01,0.005434,53490000.0,102550000.0,-49060000.0,-0.478401,403.78,...,-11640000.0,-0.244230,394.78,474.99,-80.21,-0.168867,25140000.0,84710000.0,-59570000.0,-0.703223
2,2024-01-31,184.40,186.86,-2.46,-0.013165,54830000.0,53490000.0,1340000.0,0.025051,397.58,...,9050000.0,0.251249,390.14,394.78,-4.64,-0.011753,20010000.0,25140000.0,-5130000.0,-0.204057
3,2024-01-30,188.04,184.40,3.64,0.019740,55270000.0,54830000.0,440000.0,0.008025,408.59,...,-5470000.0,-0.121367,400.06,390.14,9.92,0.025427,18610000.0,20010000.0,-1400000.0,-0.069965
4,2024-01-29,191.73,188.04,3.69,0.019623,46890000.0,55270000.0,-8380000.0,-0.151619,409.72,...,-5700000.0,-0.143939,401.02,400.06,0.96,0.002400,17790000.0,18610000.0,-820000.0,-0.044062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,2019-02-08,42.60,42.36,0.24,0.005666,95280000.0,83970000.0,11310000.0,0.134691,105.67,...,-3360000.0,-0.067851,167.33,165.79,1.54,0.009289,12560000.0,12810000.0,-250000.0,-0.019516
1239,2019-02-07,42.73,42.60,0.13,0.003052,126970000.0,95280000.0,31690000.0,0.332599,105.27,...,17550000.0,0.380199,166.38,167.33,-0.95,-0.005677,17520000.0,12560000.0,4960000.0,0.394904
1240,2019-02-06,43.56,42.73,0.83,0.019424,112960000.0,126970000.0,-14010000.0,-0.110341,106.03,...,6540000.0,0.102653,170.49,166.38,4.11,0.024702,13280000.0,17520000.0,-4240000.0,-0.242009
1241,2019-02-05,43.55,43.56,-0.01,-0.000230,144410000.0,112960000.0,31450000.0,0.278417,107.22,...,-16010000.0,-0.227900,171.16,170.49,0.67,0.003930,22560000.0,13280000.0,9280000.0,0.698795
1242,2019-02-04,42.81,43.55,-0.74,-0.016992,125980000.0,144410000.0,-18430000.0,-0.127623,105.74,...,-1380000.0,-0.025442,169.25,171.16,-1.91,-0.011159,20040000.0,22560000.0,-2520000.0,-0.111702

In [61]:
# Drop columns
df.share = df.share.drop(['pre_day_apple_price', 'pre_day_apple_vol', 'pre_day_microsoft_price', 'pre_day_microsoft_vol', 'pre_day_google_price', 'pre_day_google_vol', 'pre_day_nvidia_price', 'pre_day_nvidia_vol', 'pre_day_meta_price', 'pre_day_meta_vol'], axis=1)

In [63]:
# Select only last day of 2019. For detailed Tableau visualisation.
df.share[df.share['date'] == '2019-12-31']

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
1013,2019-12-31,73.41,-1.68,-0.022373,100990000.0,-34660000.0,-0.255511,157.7,-2.92,-0.01818,...,-0.019173,23120000.0,-650000.0,-0.027345,205.25,-4.53,-0.021594,8960000.0,-3130000.0,-0.258892

In [64]:
# Select only last day of 2020. For detailed Tableau visualisation.
df.share[df.share['date'] == '2020-12-31']

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
764,2020-12-31,132.69,3.28,0.025346,99120000.0,-44180000.0,-0.308304,222.42,4.73,0.021728,...,-0.004423,19240000.0,-36820000.0,-0.656796,273.16,4.22,0.015691,12900000.0,-2210000.0,-0.146261

In [65]:
# Select only last day of 2021. For detailed Tableau visualisation.
df.share[df.share['date'] == '2021-12-31']

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
518,2021-12-31,177.57,-4.44,-0.024394,64060000.0,-40640000.0,-0.388157,336.32,1.57,0.00469,...,-0.023572,26650000.0,-12590000.0,-0.320846,336.35,-2.19,-0.006469,12870000.0,-1690000.0,-0.116071

In [66]:
# Select only last day of 2022. For detailed Tableau visualisation.
df.share[df.share['date'] == '2022-12-30']

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
273,2022-12-30,129.93,4.86,0.038858,77030000.0,-34650000.0,-0.310261,239.82,0.24,0.001002,...,0.020887,31050000.0,-9010000.0,-0.224913,120.34,-4.4,-0.035273,19580000.0,-15800000.0,-0.44658

In [67]:
# Select only last day of 2023. For detailed Tableau visualisation.
df.share[df.share['date'] == '2023-12-29']

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
23,2023-12-29,192.53,6.89,0.037115,42670000.0,-37150000.0,-0.465422,376.04,5.17,0.01394,...,0.02811,38930000.0,-1910000.0,-0.046768,353.96,7.67,0.022149,14990000.0,-3060000.0,-0.169529

In [68]:
# Overview from all last days of the years
df.share[df.share['date'].isin(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-30', '2023-12-29'])]

,date,apple_price,price_diff_apple,percent_price_diff_apple,apple_vol,vol_diff_apple,percent_vol_diff_apple,microsoft_price,price_diff_microsoft,percent_price_diff_microsoft,...,percent_price_diff_nvidia,nvidia_vol,vol_diff_nvidia,percent_vol_diff_nvidia,meta_price,price_diff_meta,percent_price_diff_meta,meta_vol,vol_diff_meta,percent_vol_diff_meta
23,2023-12-29,192.53,6.89,0.037115,42670000.0,-37150000.0,-0.465422,376.04,5.17,0.013940,...,0.028110,38930000.0,-1910000.0,-0.046768,353.96,7.67,0.022149,14990000.0,-3060000.0,-0.169529
273,2022-12-30,129.93,4.86,0.038858,77030000.0,-34650000.0,-0.310261,239.82,0.24,0.001002,...,0.020887,31050000.0,-9010000.0,-0.224913,120.34,-4.40,-0.035273,19580000.0,-15800000.0,-0.446580
518,2021-12-31,177.57,-4.44,-0.024394,64060000.0,-40640000.0,-0.388157,336.32,1.57,0.004690,...,-0.023572,26650000.0,-12590000.0,-0.320846,336.35,-2.19,-0.006469,12870000.0,-1690000.0,-0.116071
764,2020-12-31,132.69,3.28,0.025346,99120000.0,-44180000.0,-0.308304,222.42,4.73,0.021728,...,-0.004423,19240000.0,-36820000.0,-0.656796,273.16,4.22,0.015691,12900000.0,-2210000.0,-0.146261
1013,2019-12-31,73.41,-1.68,-0.022373,100990000.0,-34660000.0,-0.255511,157.70,-2.92,-0.018180,...,-0.019173,23120000.0,-650000.0,-0.027345,205.25,-4.53,-0.021594,8960000.0,-3130000.0,-0.258892

In [69]:
# Create new file for close prices and volumes
df.share_end = df.share[df.share['date'].isin(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-30', '2023-12-29'])]

/var/folders/wj/jhsp2ymx24z41z0b960qdj2r0000gn/T/ipykernel_76304/410279949.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.share_end = df.share[df.share['date'].isin(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-30', '2023-12-29'])]

In [71]:
# Drop columns
df.share_end = df.share_end.drop(['price_diff_apple', 'percent_price_diff_apple', 'vol_diff_apple', 'percent_vol_diff_apple', 'price_diff_microsoft', 'percent_price_diff_microsoft', 'vol_diff_microsoft', 'percent_vol_diff_microsoft', 'price_diff_google', 'percent_price_diff_google', 'vol_diff_google', 'percent_vol_diff_google', 'price_diff_nvidia', 'percent_price_diff_nvidia', 'vol_diff_nvidia', 'percent_vol_diff_nvidia', 'price_diff_meta', 'percent_price_diff_meta', 'vol_diff_meta', 'percent_vol_diff_meta'], axis=1)

In [72]:
df.share_end

,date,apple_price,apple_vol,microsoft_price,microsoft_vol,google_price,google_vol,nvidia_price,nvidia_vol,meta_price,meta_vol
23,2023-12-29,192.53,42670000.0,376.04,18730000.0,139.69,18730000.0,495.22,38930000.0,353.96,14990000.0
273,2022-12-30,129.93,77030000.0,239.82,21940000.0,88.23,23990000.0,146.14,31050000.0,120.34,19580000.0
518,2021-12-31,177.57,64060000.0,336.32,18000000.0,144.85,18140000.0,294.11,26650000.0,336.35,12870000.0
764,2020-12-31,132.69,99120000.0,222.42,20940000.0,87.63,21070000.0,130.55,19240000.0,273.16,12900000.0
1013,2019-12-31,73.41,100990000.0,157.70,18390000.0,66.97,19520000.0,58.83,23120000.0,205.25,8960000.0

In [73]:
# Create new csv file for tech stock performance top 5
df.share.to_csv(r"/Users/juliaseel/Desktop/Data Science/US Stock Market Analysis/Stock Market Dataset_share.csv")

In [74]:
# Create new csv file for tech stock performance top 5
df.share_end.to_csv(r"/Users/juliaseel/Desktop/Data Science/US Stock Market Analysis/Stock Market Dataset_share_end.csv")